:root {
  font-size: 1vw;
}

html {
  box-sizing: border-box;
  font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

h1 {
  /* To override Normalize.css h1 margin */
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  height: 100vh;
}

.boards {
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2.5rem;
  row-gap: 50px;
  align-items: center;
}

.board1,
.board2,
.dialog-board {
  aspect-ratio: 1;
  outline: 2px solid black;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
}

.square {
  outline: 1px solid black;
  aspect-ratio: 1;
}

dialog[open] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 25px;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

.rotate {
  background-color: black;
  color: white;
  padding: 10px 25px;
  font-size: 20px;
  justify-self: center;
  border-radius: 5px;
  cursor: pointer;
}

.rotate:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.temp-highlight,
.highlight {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-board .square {
  cursor: pointer;
}
